spawn-at-startup "soltros-noctalia-session" "--daemon"

binds {
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+Shift+L hotkey-overlay-title="Lock Screen" { spawn "noctalia" "msg" "session" "lock"; }
}
